# Node.js / React
node_modules/
build/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Django
*.pyc
__pycache__/
db.sqlite3
/static/
media/
*.log
*.pot
*.py[cod]
*.sqlite3
*.db
.DS_Store

# VS Code
.vscode/